### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

#

.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
share/